---
import { render } from "astro:content";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getWritings } from "@/data/modelfailure";
import PageLayout from "@/layouts/Base.astro";

export const getStaticPaths = (async () => {
	const entries = await getWritings();
	return entries.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<PageLayout
	meta={{
		articleDate: entry.data.date.toISOString(),
		description: entry.data.description,
		title: entry.data.title,
	}}
>
	<article class="prose prose-sm max-w-none">
		<h1 class="title mb-3">{entry.data.title}</h1>
		<p class="not-prose mb-6 text-sm text-gray-600 dark:text-gray-400">
			<FormattedDate date={entry.data.date} />
		</p>
		{entry.data.topics.length > 0 && (
			<ul class="not-prose mb-8 flex flex-wrap gap-2" role="list">
				{entry.data.topics.map((topic) => (
					<li class="cactus-link text-sm">#{topic}</li>
				))}
			</ul>
		)}
		<Content />
	</article>
</PageLayout>
